﻿@{
    ViewBag.Title = "ASSET DETAILS";
}


@{
    var data = ViewBag.asset;
    string country = ViewBag.country;
    string mime = ViewBag.mime;
}



@using (Html.BeginForm())
{
    <div>
        <h2 style="margin-left:8%">Asset Details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("ASSETID")

            </dt>
            <dd>
                @data.asset_id
            </dd>
            <dt>
                @Html.Label("FILENAME")

            </dt>
            <dd>
                @data.file_name
            </dd>
            <dt>
                @Html.Label("CREATEDBY")

            </dt>
            <dd>
                @data.created_by
            </dd>
            <dt>
                @Html.Label("EMAIL")

            </dt>
            <dd>
                @data.email
            </dd>
            <dt>
                @Html.Label("COUNTRY")

            </dt>
            <dd>
                @country
            </dd>
            <dt>
                @Html.Label("MIMETYPE")

            </dt>
            <dd>
                @mime
            </dd>
            <dt>
                @Html.Label("DESCRIPTION")

            </dt>
            <dd>
                @data.description
            </dd>
        </dl>
    </div>

}
<hr />
    <p style="margin-left:8%">
        @Html.ActionLink("Edit  |", "Edit", new { id = @data.asset_id })
        @Html.ActionLink("Delete  | ", "Delete", new { id = @data.asset_id, country = @country, mimetype = @mime })
        @Html.ActionLink("Back to List", "Asset")
    </p>
