﻿@using PagedList.Mvc
@using WebExperience.DataLayer
@using WebExperience.ViewModelLayer
@model  PagedList.IPagedList<WebExperience.DataLayer.Asset>

    @{
        ViewBag.Title = "Asset Details";
    }

    <style>
        .ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                ul.pagination li a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>

    @using (Html.BeginForm())
    {
        <center>
            <h2>Asset Details</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <hr />
            <div style="border:1px solid red; margin-left:20%; margin-right:20%">
                <table style="width:100%" border="1">
                    <tr>
                        <th style="width:15%; text-align:left"> @Html.Label("Asset ID")</th>
                        <th style="width:10%; text-align:left">@Html.Label("File Name")</th>
                        <th style="width:10%; text-align:left">@Html.Label("Created By")</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr style="border:1px solid red">
                            <td>@Html.ActionLink(@Model[i].asset_id, "AssetDetails", new { id = @Model[i].asset_id })</td>
                            <td>@Model[i].file_name</td>
                            <td>@Model[i].created_by</td>
                        </tr>
                    }
                </table>
            </div>
        </center>
        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left: 400px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Asset", new { page }))
            </div>
        </div>
    }
