﻿@model WebExperience.DataLayer.Asset

@{
    ViewBag.Title = "Delete";
}
@{
   
    string country = ViewBag.country;
    string mime = ViewBag.mime;
}

<h2>DELETE ASSET ENTRY </h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.asset_id)</dt>
        <dd>@Html.DisplayFor(model => model.asset_id)</dd>
        <dt>@Html.DisplayNameFor(model => model.file_name)</dt>
        <dd>@Html.DisplayFor(model => model.file_name)</dd>
        <dt>@Html.DisplayNameFor(model => model.created_by)</dt>
        <dd>@Html.DisplayFor(model => model.created_by)</dd>
        <dt>@Html.DisplayNameFor(model => model.email)</dt>
        <dd>@Html.DisplayFor(model => model.email)</dd>
        <dt>@Html.DisplayNameFor(model => model.description)</dt>
        <dd>@Html.DisplayFor(model => model.description)</dd>
        <dt>@Html.DisplayNameFor(model => model.Country_Id)</dt>
        <dd>@country</dd>
        <dt>@Html.DisplayNameFor(model => model.mimetype_id)</dt>
        <dd>@mime</dd>      

    </dl>

    <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-left:8%">
                <input type="submit" value="Delete" class="btn btn-default" style="background-color:#808080" /> |
                @Html.ActionLink("Back to List", "Asset")
            </div>
        }
</div>
