﻿<!DOCTYPE html>
<style>
    .headerDiv {
        color: antiquewhite;
        background-color: #1a1919;
        align-content: center;
    }

    .headerfooterText {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }

    .footerDiv {
        color: antiquewhite;
        background-color: #1a1919;
        fit-position: bottom;
    }
</style>
<script type="text/javascript">

window.history.forward();
function noBack() {
window.history.forward();
}
    </script>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASSET DETAILS CRUD OPERATIONS USING MVC </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top headerDiv">
            <header class="headerfooterText">ASSET DATA APPLICATION - CRUD OPERATIONS</header>
        </div>
        <div>
            @RenderBody()

        </div>
        <div class="navbar-fixed-bottom footerDiv">
            <footer class="headerfooterText">
                <p>&copy; @DateTime.Now.Year - ASSET DATA APPLICATION</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
