﻿divTable {
    display:table;
    width:auto;
    background-color:#808080;
    border:10px solid red;
    border-spacing:20px 20px 20px 20px;
    grid-column-sizing:auto;
    align-content:center;
    width: 900px; color: grey; align-content: center; background-color: black;
    padding:20px 20px 20px 20px;

}
.divRow {
    display:table-row;
    width:auto;

}
.divCell {
    float: left;
    display: table-column;
    width: 300px;
   
}
.headRow{
    font-size:20px;
    text-align:left;
    

}

  